title {
    font-family: Verdana;
    font-size: 14px;
	color: #ff9900;
	text-align:center;
	text-decoration:none;
	font-weight:bold;
}

description {
    font-family: Verdana;
    font-size: 12px;
	text-align:left;
	color: #666666;
	text-align:justify;
}

date {
	font-family:Verdana;
	color: #6a6a6a;
	font-size: 9px;
	text-align:center;
	font-style:italic;
}