title {
    font-family: Verdana;
    font-size: 14px;
	color: #ffffff;
	text-align:left;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-bottom:10px;
}

description {
    font-family: Verdana;
    font-size: 9px;
	text-align:left;
	color: #ffffff;
}
date {
	text-align:center;
	font-family:Verdana;
	color: #a2a2a2;
	font-size: 8px;
	font-style:italic;
}

image{
	margin : 0px;
}